#iconHead {
   /*background-color: red;*/
}

#description {
   /*background-color: yellow;*/
}

#iconBar {
   /*background-color: blue;*/
}

#iconBar img {
   width: 100px;
   height: auto;
}

#navigationBtns {
   /*background-color: green;*/
}

#head {
   height: 400px;
   /*background-color: orange;*/
}

#head img {
   height: 200px;
   width: auto;
   margin: 0 auto;
}

#head .caption {
   text-transform: uppercase;
}

#messageBox {
   height: 300px;
   /*background-color: peachpuff;*/
}

#message {
   height: 200px;
   width: 200px;
}

#iconBar {
   height: 100px;
}

#navigationBtns {
   width: 200px;
   height: 75 px;
   position: absolute;
   bottom: 5px;
   right: 0;

}

#description {
   height: 300px;
}