@font-face {
   font-family: 'TradeGothic';
   src: url('lib/TradeGothic.otf') format('opentype');
}

* {
   font-family: 'TradeGothic';
}

#iconHead {
   /*background-color: red;*/
}

#description {
   /*background-color: yellow;*/
}

#iconBar {
   /*background-color: blue;*/
}

#iconBar img {
   width: 100px;
   height: auto;
}

#navigationBtns {
   /*background-color: green;*/
}

#head {
   height: 400px;
   /*background-color: orange;*/
}

#head img {
   height: 200px;
   width: auto;
   margin: 0 auto;
}

#head .caption {
   text-transform: uppercase;
   margin-top: 20px;
}

#messageBox {
   height: 300px;
   position: relative;
}

#message {
   position: absolute;
}

#iconBar {
   height: 100px;
}

#navigationBtns {
   width: 200px;
   height: 75 px;
   position: absolute;
   bottom: 5px;
   right: 0;

}

#description {
   height: 300px;
}

.container.screen5 {
   margin-top: 10%;
}

.screen5 #messageBox {
   background-image: url("img/speech-bubble.png");
   height: 325px;
   width: 642px;
   color: white;
   margin-left: -180px;
   margin-top: -100px;
}

.screen5 #message {
   left: 200px;
   top: 70px;
   font-style: italic;
   font-size: 3em;
   line-height: 1.5em;
   width: 400px;
}

.screen5 .caption {
   width: 161px;
   text-align: center;
}

.screen5 #mainContent {
   margin-left: 80px;
}


.screen6 {
   margin-top: 10%;
}

.screen6 #mainTitle {
   text-transform: uppercase;
}

.screen6 .thumbnail {
   border: none;
   box-shadow: none;
}

.screen6 .thumbnail div {
   margin: 0 auto;
   width: 150;
   text-align: center;
   text-transform: uppercase;
}